# Ignore Python cache
__pycache__/
.cache/
*.pyc

# Ignore log files
*.log

# Ignore output folder
run/output/

# Ignore cache folder
.cache/

# Ignore zip files and data
*.zip
*.jgw
*.json
*.png
*.jpg
*.jpeg
*.tif

# Ignore environment files
.env
venv

# Keep everything in test folder
!test/*

# Ignore .DS_Store
.DS_Store

