# Ignore Python cache
__pycache__/
.cache/
*.pyc

# Ignore log files
*.log

# Ignore output folder
run/output/

# Ignore cache folder
.cache/

# Keep everything in the test folder
!test/
!test/**/*

# Exclude __pycache__ directories within the test folder
test/**/__pycache__/

# Ignore zip files and data
*.zip
*.jgw
*.json
*.png
*.jpg
*.jpeg
*.tif
*.xml

# Ignore environment files
.env
venv

# Ignore .DS_Store
.DS_Store

